{
  "brewery_name": "The Tilt Fermentatorium",
  "brewer_name": "Your Name",
  "units": "Fahrenheit",
  "display_mode": "4",
  "push_provider": "pushover",
  "pushover_user_key": "",
  "pushover_api_token": "",
  "tilt_inactivity_timeout_minutes": 30,
  "flask_port": 5001,
  "backup_path": "/media/usb",
  "dropbox_backup_enabled": false,
  "dropbox_backup_interval_hours": 24,
  "dropbox_backup_folder": "/FermentatoriumBackups",
  "dropbox_access_token": ""
}
